<div id="quiz_<%= uuid %>" class="quiz">
    <div>
        <div id="question_<%= uuid %>"  class="quiz__question"><%= question %></div>
        <div id="answers_<%= uuid %>">
        <% option_chars.zip(option_strings).each do |char, str| %>
            <input type="radio" name="question" value="<%= char %>" /><label><%= char %>: <%= str %></label>
            <br />
        <% end %>
        </div>
    </div>
    <button onclick="showResults('<%= uuid %>', '<%= correct %>')">Submit Answer</button>
    <div id="results_<%= uuid %>" style="display: none">
        <span id="correct_<%= uuid %>" style = "display: none">  Correct!! 😃</span>
        <span id="incorrect_<%= uuid %>" style = "display: none"> Incorrect!! 😭 The correct answer is <%= correct %>.</span>
        <%= info %>
    </div>
</div>