<div>
    <ul class="tab" data-tab="<%= uuid %>">
        <% environment["tabs-#{@name}"].each_with_index do |(key, value), index| %>
            <li<%= index == 0 ? ' class="active"' : ''%>>
                <a href=""><%= key %></a>
            </li>
        <% end %>
        </ul>
        <ul class="tab-content" id="<%= uuid %>">
        <% environment["tabs-#{@name}"].each_with_index do |(key, value), index| %>
            <li<%= index == 0 ? ' class="active"' : ''%>><%= value %></li>
        <% end %>
    </ul>
</div>